<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            margin: 0;
        }

        html {
            box-sizing: border-box;
        }

        *, *:before, *:after {
            box-sizing: inherit;
        }

        .column {
            float: left;
            width: 33.3%;
            margin-bottom: 16px;
            padding: 0 8px;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            margin: 8px;
        }

        .about-section {
            padding: 50px;
            text-align: center;
            background-color: #00BFFF;
            color: white;
        }

        .container {
            padding: 0 16px;
        }

            .container::after, .row::after {
                content: "";
                clear: both;
                display: table;
            }

        .title {
            color: grey;
        }

        .button {
            border: none;
            outline: 0;
            display: inline-block;
            padding: 8px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
        }

            .button:hover {
                background-color: #555;
            }
    </style>
</head>
<body>

    <div class="about-section">
        <h1>Contus Us</h1>
        <p>Interactive Solutions offers consulting services in business intelligence, project management, software development, strategy development and implementation.</p>
        <p>"manage people, their accounts and transactions logged" is the good example of solutions we provides</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 style="font-weight: bold">Justice Mthembu</h2>
                    <p style="font-weight: bold">System Developer</p>
                    <p>I have a strong background in Systems analysis and systems development</p>
                    <a href="mailto:webmaster@example.com">sabelojusticenko1@gmail.com</a>
                    <a href="mailto:webmaster@example.com">sabelo.mthembu@kznhealth.gov.za</a>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 style="font-weight: bold">Mark Jonh Fish</h2>
                    <p style="font-weight: bold">CIO</p>
                    <p>I have a strong background in project management and problem solving</p>
                    <a href="mailto:webmaster@example.com">mark.fish@gmail.com</a><br>
                    <a href="mailto:webmaster@example.com">mark.fish@kznhealth.gov.za</a>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <div class="container">
                    <h2 style="font-weight: bold">Mlekeleli Cele</h2>
                    <p style="font-weight: bold">system analyst</p>
                    <p>I have a strong background in Systems analysis and business analysis </p>
                    <a href="mailto:webmaster@example.com">Mlekeleli.Cele@gmail.com</a>
                    <a href="mailto:webmaster@example.com">Mlekeleli.Cele@kznhealth.gov.za</a>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
