@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <div class="about-section">
        <h2>About Us</h2>
        <p>
            Luyanda Mathe.
        </p>
        <p>
            Clinical Psychology.
        </p>

    </div>
</div>
<style>
    .about-section {
        padding: 100px;
        text-align: center;
        background-color: #00BFFF;
        color: white;
    }

    .container {
        padding: 0 16px;
    }
</style>